.button {
    @apply inline-flex
        flex
        items-center
        justify-center
        px-4
        py-2
        border
        border-transparent
        text-sm
        leading-5
        font-medium
        rounded-md
        shadow-sm
        transition-colors
        focus:outline-none
        focus:ring-2
        focus:ring-offset-1
        focus:ring-opacity-25;
}

.button:not(.button--icon) {
    @apply space-x-2;
}

.button--disabled:not(.button--busy),
.button[disabled]:not(.button--busy) {
    @apply opacity-75 cursor-not-allowed;
}

.button--busy {
    @apply opacity-75 cursor-wait;
}

.button svg:not(.plain) {
    @apply h-5 w-5;
}

.button--white {
    @apply border-solid border-blue-gray-300 bg-white text-blue-gray-700;
}

.button--white:not([disabled]):not(.button--disabled):not(.button--busy):not(.button--no-hover) {
    @apply hover:bg-blue-gray-50 focus:ring-blue-500;
}
