.app-link {
    @apply font-medium
        text-blue-600
        transition
        hover:text-blue-500
        hover:underline
        focus:outline-blue-gray
        focus:underline;
}

.app-link--dark {
    @apply text-blue-gray-600 hover:text-blue-gray-500;
}
