@layer components {
    .modal-title {
        @apply text-lg leading-6 font-medium text-slate-900;
    }

    .modal-content {
        @apply text-sm leading-5 text-slate-500;
    }

    .modal-footer {
        @apply bg-slate-50
        px-4
        py-3
        mt-3
        space-y-3
        sm:space-y-0
        sm:space-x-3
        sm:space-x-reverse
        sm:px-6
        sm:flex
        sm:flex-row-reverse;
    }

    .modal-footer .button:not(.button--block),
    .modal-footer .button-container:not(.button--block) {
        @apply w-full sm:w-auto;
    }
}
